.git
.gitignore
.gcloudignore
.vscode
.idea
.venv
.env
.env.*
__pycache__
*.pyc
*.pyo
*.pyd
*.log
build/*
frontend/node_modules
node_modules
functions/node_modules
android/build
ios/Pods
macos/Pods
test-results
